body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #333;
    color: #fff;
    min-height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.menu-btn:hover {
    background-color: #555;
}

/* Main */
.main {
    flex: 1;
    padding: 20px;
}

/* Role buttons */
.user-btn {
    padding: 10px 15px;
    margin: 10px 5px 20px 0;
    border: none;
    background-color:#0D47A1;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.user-btn:hover {
    background-color: #0D47A1;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #0D47A1;
    color: white;
}

/* Action Buttons */
.action-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-right: 5px;
}

.edit-btn { background-color: #2196F3; }
.disable-btn { background-color: #f44336; }
.enable-btn { background-color: #ff9800; }
.delete-btn { background-color: #9c27b0; }

.error {
    color: red;
    margin-top: 10px;
}
